  #careflex-background {
    // height: 100%;
    .cls-1,
    .cls-8 {
      fill: #e4eaef;
    }

    .cls-1 {
      opacity: 0.3;
    }

    .cls-1,
    .cls-6 {
      isolation: isolate;
    }

    .cls-2 {
      fill: #303438;
    }

    .cls-3 {
      fill: #009640;
    }

    .cls-4 {
      fill: #646e78;
    }

    .cls-5 {
      fill: #fff;
    }

    .cls-6 {
      opacity: 0.49;
    }

    .cls-7 {
      fill: #c1cad1;
    }

    .cls-9 {
      fill: #009540;
    }

    .cls-10 {
      fill: #b0b1b2;
    }

    .cls-11 {
      fill: #626261;
    }
  }

  #xion-background {
    height: 70%;
    .cls-1,
    .cls-17,
    .cls-18 {
      opacity: 0.3;
    }

    .cls-17,
    .cls-2 {
      fill: #266b9f;
    }

    .cls-21,
    .cls-3 {
      fill: #1f6a95;
    }

    .cls-4 {
      fill: #fff;
    }

    .cls-13,
    .cls-18,
    .cls-24,
    .cls-25,
    .cls-5 {
      fill: #71aedb;
    }

    .cls-6 {
      fill: #edc900;
    }

    .cls-11,
    .cls-12,
    .cls-14,
    .cls-15,
    .cls-16,
    .cls-19,
    .cls-22,
    .cls-26,
    .cls-27,
    .cls-28,
    .cls-30,
    .cls-31,
    .cls-7,
    .cls-8,
    .cls-9 {
      fill: none;
    }

    .cls-11,
    .cls-14,
    .cls-15,
    .cls-19,
    .cls-7,
    .cls-8 {
      stroke: #266b9f;
    }

    .cls-28,
    .cls-30,
    .cls-31,
    .cls-7 {
      stroke-linecap: round;
    }

    .cls-26,
    .cls-27,
    .cls-28,
    .cls-30,
    .cls-7 {
      stroke-linejoin: round;
    }

    .cls-7 {
      stroke-width: 1.96px;
    }

    .cls-11,
    .cls-14,
    .cls-15,
    .cls-16,
    .cls-19,
    .cls-21,
    .cls-22,
    .cls-31,
    .cls-8,
    .cls-9 {
      stroke-miterlimit: 10;
    }

    .cls-8,
    .cls-9 {
      stroke-width: 0.98px;
    }

    .cls-21,
    .cls-22,
    .cls-9 {
      stroke: #71aedb;
    }

    .cls-10 {
      fill: #60b1e7;
    }

    .cls-11 {
      stroke-width: 3.22px;
    }

    .cls-13,
    .cls-17,
    .cls-18,
    .cls-22,
    .cls-24,
    .cls-25 {
      isolation: isolate;
    }

    .cls-13 {
      font-size: 13.58px;
    }

    .cls-13,
    .cls-24,
    .cls-25 {
      font-family: ArialMT, Arial;
    }

    .cls-14 {
      stroke-width: 1.11px;
    }

    .cls-15,
    .cls-16 {
      stroke-width: 1.9px;
    }

    .cls-16,
    .cls-30,
    .cls-31 {
      stroke: #edc900;
    }

    .cls-19 {
      stroke-width: 0.71px;
    }

    .cls-20 {
      fill: #296b9f;
    }

    .cls-21 {
      stroke-width: 0.23px;
    }

    .cls-22 {
      stroke-width: 0.57px;
      stroke-dasharray: 1.14 1.14 1.14 1.14 1.14 1.14;
      opacity: 0.6;
    }

    .cls-23 {
      fill: #f2f7fc;
    }

    .cls-24 {
      font-size: 9.07px;
    }

    .cls-25 {
      font-size: 12.36px;
    }

    .cls-26,
    .cls-27,
    .cls-28 {
      stroke: #1f6a95;
    }

    .cls-26 {
      stroke-width: 2.44px;
    }

    .cls-27,
    .cls-28 {
      stroke-width: 1.46px;
    }

    .cls-29 {
      fill: #276b9f;
    }

    .cls-30,
    .cls-31 {
      stroke-width: 0.69px;
    }
  }
