@import 'careflex-background.scss';
@import 'ixi-loader.scss';
@import 'bum-edit.scss';
@import 'xion-logo.scss';

body {
  margin: 0;
  /* background-color: aqua; */
}

.gallery{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid teal;
}

.gallery-window{
  height: 30rem;
  // width: 50rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  border: 1px solid teal;
  margin: 2rem;
  box-shadow: 5px 5px 5px 0px rgba(134, 134, 134, 0.75);
  overflow: hidden;
}
