@import 'careflex-background.scss';
@import 'ixi-loader.scss';
@import 'bum-edit.scss';
@import 'xion-logo.scss';
@import 'buttons.scss';

body {
    margin: 0;
    font-family: 'OpenSans', sans-serif;

    /* background-color: aqua; */
}

.gallery {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    // border: 1px solid teal;
}

.gallery-window {
    height: 50rem;
    width: 70rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid teal;
    margin: 2rem;
    box-shadow: 5px 5px 5px 0px rgba(134, 134, 134, 0.75);
    overflow: hidden;
}

.gallery-buttons {
    // border: 1px solid #ffa500;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}
