@import 'careflex-background.scss';
@import 'ixi-loader.scss';
@import 'bum-edit.scss';
@import 'xion-logo.scss';
@import 'buttons.scss';
@import 'aaron-blum-title.scss';

body {
    margin: 0;
    font-family: 'Roboto';
    
    
    /* background-color: aqua; */
  }
  
  .gallery {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    // border: 1px solid yellow;
  }
  
  .gallery-window {
    height: 100%;
    // width: 70rem;
    // display: flex;
    // justify-content: space-evenly;
    // align-items: center;
    // flex-direction: column;
    border: 1px solid teal;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 5px 0px #868686bf;
    overflow: hidden;
    svg {
      height: 40rem;
    }
  }
  
  .gallery-buttons {
    width: 100%;
    // border: 1px solid #ffa500;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
  }
  
  .gallery-label {
    font-family: 'Bangers', cursive;
    display: flex;
    justify-content: center;
    color: rgb(116, 116, 116);
  }
  
  .straddle {
    display: flex;
    flex-direction: column;
  }
  
  .copyright{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: .6rem;
    color: rgb(116, 116, 116);
    &__item{
      display: flex;
      justify-content: center;
      align-items: center;

    }
}

