@import 'careflex-background.scss';
@import 'ixi-loader.scss';
@import 'bum-edit.scss';
@import 'xion-logo.scss';
@import 'aaron-blum-title.scss';
@import 'ufo-scene.scss';s
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html,
  body {
    // font-size: 1.6vw;
    font-family: 'Roboto';
    font-style: normal;
    
    height: 100%;
    svg {
        cursor: pointer;
    }
}

#root{
  // border: 13px solid blueviolet;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.gallery {
    display: grid;
    grid-template-columns: 18% auto 18%;
    grid-gap: 2%;
    // border: 1px solid green;
    height: 100%;

    &__button {
        // border: 1px solid green;
        overflow: hidden;
        &--back {
            width: 100%;
        }
        &--next {
            width: 100%;
        }
    }
}

.gallery-window {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid teal;
  // margin-top: 1rem;
  // margin-bottom: 1rem;
  // box-shadow: 5px 5px 5px 0px #868686bf;
  // overflow: hidden;
  // height: calc(100% - 80px);
  // padding: 2rem;
  svg {
      height: 40rem;
    }
}

.gallery-label {
    padding-top: 2rem;
    font-family: 'Bangers', cursive;
    display: flex;
    justify-content: center;
    color: rgb(116, 116, 116);
}

.straddle {
    display: flex;
    flex-direction: column;
}

.copyright {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.6rem;
    color: rgb(116, 116, 116);
    // border: 1px solid teal;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    padding-bottom: 1rem;
    padding-top:1rem;
}

#container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 1em;
  grid-row-gap: 1em;
//   border: 1px solid black;
  height: 100%;
  width: 100%;

  // height: 600px;
  // width: 600px;
  position: relative;
}

.box {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(178, 240, 255);
    box-shadow: 5px 5px 5px 0px #868686bf;

}
