  .ufo-scene {
    height: 30vh;
    border: 1px solid rgba(0, 0, 0, 0.8);
  }
  .cls-1 {
    fill: #565656;
  }

  .cls-2 {
    fill: #cdcdcd;
  }

  .cls-3 {
    fill: #324d5b;
  }

  .cls-4 {
    fill: #e2574c;
  }

  .cls-5 {
    fill: #cb4e44;
  }

  .cls-6 {
    fill: #2d4552;
  }

  .cls-7 {
    fill: #e4e7e7;
  }

  .cls-8 {
    fill: #d8dbdb;
  }

  .cls-9 {
    fill: #3db39e;
  }

  .cls-10 {
    fill: #3aaa96;
  }

  .cls-11 {
    fill: #fff;
  }

  .cls-12 {
    fill: #f2f2f2;
  }

  .cls-13 {
    fill: #2f4956;
  }
  // #moon {
  //   transform-origin: center;
  //   transform: scale(0.3);
  // }
  // #moon .circlebackground {
  //   fill: #d3d3d3;
  // }
  // #moon2 {
  //   transform-origin: center;
  //   transform: scale(0.3);
  //   animation: moonfade 15s ease-in-out infinite;
  // }
  #ufo {
    opacity: 1;
    transform-origin: center;
    // transform: translateX(18%) translateY(18%) scale(0.3);
    animation: orbit linear 15s infinite;
  }
