body {
  margin: 0;
  /* background-color: aqua; */
}

svg {
  height: 30rem;
  border: 1px solid green;
}

.gallery{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.gallery-window{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border: 1px solid teal;
  margin: 2rem;
  box-shadow: 5px 5px 5px 0px rgba(134, 134, 134, 0.75);
}

.redHair{
  visibility: hidden;
}

#body{
  visibility: hidden;
}

.box {
  width: 100px;
  height: 100px;
  background: blue;
}
